In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Baft,IR,2021-09-28 11:38:36,29.2340,56.6057,80.22,14,2,11.07
1,1,Busselton,AU,2021-09-28 11:38:37,-33.6500,115.3333,60.08,76,99,7.16
2,2,Souillac,MU,2021-09-28 11:38:37,-20.5167,57.5167,76.35,64,75,13.80
3,3,Port Alfred,ZA,2021-09-28 11:38:37,-33.5906,26.8910,65.26,65,98,14.97
4,4,Kruisfontein,ZA,2021-09-28 11:38:37,-34.0033,24.7314,65.88,54,99,15.57

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations=city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer=gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of humidity
# Get the latitude and longitude.
locations=city_data_df[["Lat", "Lng"]]
# Get the % humidity.
humidity=city_data_df["Humidity"]
# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness.
# Get the latitude and longitude.
locations=city_data_df[["Lat", "Lng"]]
# Get the % humidity.
clouds=city_data_df["Cloudiness"]
# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer=gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed.
# Get the latitude and longitude.
locations=city_data_df[["Lat", "Lng"]]
# Get the % humidity.
wind=city_data_df["Wind Speed"]
# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer=gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp=float(input("What is the minimum temperature you would like for your trip?"))
max_temp=float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & \
                                    (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Baft,IR,2021-09-28 11:38:36,29.2340,56.6057,80.22,14,2,11.07
2,2,Souillac,MU,2021-09-28 11:38:37,-20.5167,57.5167,76.35,64,75,13.80
9,9,Saint-Philippe,RE,2021-09-28 11:38:39,-21.3585,55.7679,78.39,77,14,15.37
10,10,Faanui,PF,2021-09-28 11:38:39,-16.4833,-151.7500,78.51,69,76,20.11
14,14,Bathsheba,BB,2021-09-28 11:38:40,13.2167,-59.5167,84.81,74,20,9.22
27,27,Elat,IL,2021-09-28 11:38:44,29.5581,34.9482,87.64,30,0,11.50
36,36,Port Hedland,AU,2021-09-28 11:38:46,-20.3167,118.5667,75.25,46,64,11.50
37,37,Abu Samrah,SY,2021-09-28 11:38:46,35.3029,37.1841,86.56,23,0,9.42
38,38,Puerto Quijarro,BO,2021-09-28 11:38:47,-17.7833,-57.7667,89.13,39,1,5.01
53,53,Pangai,TO,2021-09-28 11:38:51,-19.8000,-174.3500,75.96,78,78,8.86

In [12]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0              Baft      IR     80.22  29.2340   56.6057
2          Souillac      MU     76.35 -20.5167   57.5167
9    Saint-Philippe      RE     78.39 -21.3585   55.7679
10           Faanui      PF     78.51 -16.4833 -151.7500
14        Bathsheba      BB     84.81  13.2167  -59.5167
27             Elat      IL     87.64  29.5581   34.9482
36     Port Hedland      AU     75.25 -20.3167  118.5667
37       Abu Samrah      SY     86.56  35.3029   37.1841
38  Puerto Quijarro      BO     89.13 -17.7833  -57.7667
53           Pangai      TO     75.96 -19.8000 -174.3500

In [14]:
# Set parameters to search for a hotel.
params={"radius":5000, "type":"lodging", "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat=row["Lat"]
    lng=row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"]=f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels=requests.get(base_url, params=params).json()
        
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Baft,IR,80.22,29.2340,56.6057,بافت خیابان طالقانی غربی ساختمان مادر
2,Souillac,MU,76.35,-20.5167,57.5167,Shanti Maurice Resort & Spa
9,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
10,Faanui,PF,78.51,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
14,Bathsheba,BB,84.81,13.2167,-59.5167,Atlantis Hotel
27,Elat,IL,87.64,29.5581,34.9482,Club Hotel Eilat
36,Port Hedland,AU,75.25,-20.3167,118.5667,The Esplanade Hotel
37,Abu Samrah,SY,86.56,35.3029,37.1841,
38,Puerto Quijarro,BO,89.13,-17.7833,-57.7667,Hotel palance
53,Pangai,TO,75.96,-19.8000,-174.3500,Ha'apai Beach Resort

In [22]:
info_box_template = """
<d1>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
</d1>
"""

# Store the DataFrame Row.
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations=hotel_df[["Lat", "Lng"]]
max_temp=hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))